<app-header-image [backgroundImage]="'assets/images/others/image3.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'ABOUT.ABOUT_TITLE' | translate"
                  [desc]="'ABOUT.ABOUT_DESC' | translate">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">{{ 'ABOUT.OUR_HISTORY' | translate }}</h1>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY' | translate }}</p>

                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">business</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">{{ 'ABOUT.OUR_MISSION' | translate }}</h2>
                            </div>                            
                            <p class="mt-2">{{ 'ABOUT.MISSION' | translate }}</p>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">list_alt</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">{{ 'ABOUT.OUR_VISION' | translate }}</h2>
                            </div> 
                            <p class="mt-2">{{ 'ABOUT.VISION' | translate }}</p>
                        </div>

                    </div>
                    <div class="section testimonials">
                        <div class="px-3">
                            <div class="theme-container">
                    
                                <div class="testimonials-carousel"> 
                                    <div class="swiper-container" [swiper]="config"> 
                                        <div class="swiper-wrapper h-100">      
                                            <div *ngFor="let imageNosotro of imageNosotros" class="swiper-slide">
                                                <div class="content text-center">
                                                    <img [attr.data-src]="imageNosotro.image" class="swiper-lazy">
                                                    <div class="swiper-lazy-preloader"></div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="swiper-pagination"></div> 
                                    </div>
                                </div>
                                    
                            </div>
                        </div>   
                    </div>
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<!-- <app-mission></app-mission> -->

<!-- <app-our-services></app-our-services> -->

<!-- <app-testimonials></app-testimonials>   -->

<!-- <app-our-agents></app-our-agents> -->
      
<!-- <app-clients></app-clients> -->

<!-- <app-get-in-touch></app-get-in-touch> -->