<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1">+1 (678) 744-8007</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
  <span class="px-1">6015 Atlantic Blvd Suite D, Norcross, GA 30071, Estados Unidos</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
  <span class="px-1">mihogarenatlanta@gmail.com</span>
</span>
